h1 {
  font-size: 70px;
  font-family: 궁서;
}
p {
  margin-bottom: 50px;

}
#article {
  text-align: center;
}

#header {
  margin-top: 30px;
  text-align: center;
}
#article img {
  width: 600px;
}
img #logo {
  height: 70%;
}
video {
  width: 600px;
}
small {
  color: gray;
}
#next {
  display: none;
  
}
